<%- include("partials/header") %>

<div class="card">
  <h1>Edit Book</h1>

  <form action="/books/<%= book._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" value="<%= book.title %>">
    <input type="text" name="author" value="<%= book.author %>">
    <textarea name="description"><%= book.description %></textarea>
    <input type="file" name="coverImage">
    <button>Update</button>
  </form>
</div>

<%- include("partials/footer") %>